/* Login Container */
.login-container {
  font-family: Arial, sans-serif;
  background: #ffffff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
  
}

.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff; /* Default light mode */
    transition: background-color 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .login-page {
        background: #121212; /* Dark mode background */
    }
}

h3 {
  margin-bottom: 20px;
  color: #333;
}

/* Input Group */
.input-group {
  margin-bottom: 15px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Button */
.input-group input[type="button"] {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.input-group input[type="button"]:hover {
  background-color: #0056b3;
}
