@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 1, 1, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 3;  */
  background-color: white; /* Set background color to white */
  overflow-x: hidden;
}


/* Layout Container */
.layout-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: calc(100vh - 1rem);
  
}

.brandName {
  color: #0f37e7;
  font-weight: bold; /* Makes the text bold */
  font-size: 12px; 
  font-family: "Kumar One", serif;
}

/* Header */
.header-container {
  height: 50px;
  flex-shrink: 0; /* Prevent header from shrinking */
  width: 100%;
  
}

/* Content Container (main content and sidebar) */
.middle { 
  display: flex;
  flex-grow: 1; 
  overflow: auto; 
  width: 100%;
  flex-shrink: 0;
}


/* Footer */
.footer-container {
  height: 30px;
  flex-shrink: 0; /* Prevent footer from shrinking */
  width: 100%;
}

/* Sidebar */

.main-content {
  flex: 1;
  background-color: #f7fafc; /* Light gray */
}

.sidebar-container {
  width: 200px;   
  top: 3.5rem; 
  bottom: 0;
  padding: 1rem;
  background-color: #000816; 

}


.sidebar {
  width: 200px; 
  background-color: #2d3748; 
  color: white;
  top: 3.5rem; 
  bottom: 0;
  padding: 1rem;

}


.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Main Content Area */


